name: Build and Release Modpack
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache: false
          go-version: 'stable'
      - name: Install packwiz
        run: go install github.com/packwiz/packwiz@latest
      - name: Export Modpack
        run: $(go env GOPATH)/bin/packwiz modrinth export
      - name: Upload to Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} *.mrpack --clobber
