name: Build and Release Modpack
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: true
      - run: go install github.com/packwiz/packwiz@latest
      - run: $(go env GOPATH)/bin/packwiz modrinth export
      - uses: softprops/action-gh-release@v2
        with:
          files: "*.mrpack"
